# Chapter 12 고급 pandas
12.1 Categorical 데이터
12.1.1 개발 배경과 동기

In [1]:
import numpy as np
import pandas as pd

In [2]:
values = pd.Series(['apple','orange','apple','apple']*2)

In [3]:
values

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
dtype: object

In [4]:
pd.unique(values) #중복없이 보여줌

array(['apple', 'orange'], dtype=object)

In [5]:
pd.value_counts(values) # 갯수

apple     6
orange    2
dtype: int64

In [6]:
values = pd.Series([0,1,0,0]*2)

In [7]:
dim = pd.Series(['apple','orange'])

In [8]:
values

0    0
1    1
2    0
3    0
4    0
5    1
6    0
7    0
dtype: int64

In [9]:
dim

0     apple
1    orange
dtype: object

In [10]:
dim.take(values) # 시리즈 내에 저장된 원래 문자열을 구함

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

12.1.2 pandas의 Categorical

In [12]:
fruits = ['apple','orange','apple','apple']*2

In [13]:
N = len(fruits)

In [15]:
df = pd.DataFrame({'fruit': fruits,
                  'basket_id':np.arange(N),
                  'count':np.random.randint(3, 15, size=N),
                  'weight':np.random.uniform(0, 4, size=N)},
                 columns = ['basket_id','fruit','count','weight'])

In [16]:
df

   basket_id   fruit  count    weight
0          0   apple     10  1.147228
1          1  orange      8  1.036901
2          2   apple      4  2.289281
3          3   apple     12  1.596885
4          4   apple      3  3.622345
5          5  orange      5  1.343631
6          6   apple     13  2.806242
7          7   apple     14  1.684061

In [17]:
fruit_cat = df['fruit'].astype('category')

In [18]:
fruit_cat

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

In [19]:
c= fruit_cat.values

In [20]:
type(c)

pandas.core.arrays.categorical.Categorical

In [22]:
c.categories

Index(['apple', 'orange'], dtype='object')

In [23]:
c.codes

array([0, 1, 0, 0, 0, 1, 0, 0], dtype=int8)