# Chapter 11  시계열

11.1 날짜, 시간 자료형, 도구

In [71]:
from datetime import datetime
import pandas as pd
import numpy as np

In [5]:
now = datetime.now() # 현재 시간 저장 근데 마지막 459789는 무슨 의미?

In [6]:
now

datetime.datetime(2020, 8, 29, 15, 49, 12, 459789)

In [7]:
now.year, now.month, now.day

(2020, 8, 29)

In [8]:
delta = datetime(2011, 1, 7) - datetime(2008, 6,24,8,15) # 시간적 차이도 표현 가능하다

In [9]:
delta

datetime.timedelta(days=926, seconds=56700)

In [10]:
delta.days

926

In [11]:
delta.seconds

56700

In [12]:
from datetime import timedelta

In [13]:
start =datetime(2011,1,7)

In [14]:
start

datetime.datetime(2011, 1, 7, 0, 0)

In [15]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [17]:
start - 2 *timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [18]:
start + 2 *timedelta(6)

datetime.datetime(2011, 1, 19, 0, 0)

11.1.1 문자열을  datetime으로 변환하기

In [19]:
stamp =datetime(2011,1,3)

In [20]:
str(stamp) # str타입으로 변환 가능

'2011-01-03 00:00:00'

In [22]:
stamp.strftime('%Y-%m-%d') # ''안의 형태로 문자열로 표기

'2011-01-03'

In [23]:
stamp.strftime('%Y:%m:%d')

'2011:01:03'

In [24]:
value = '2011-01-03'

In [25]:
datetime.strptime(value,'%Y-%m-%d') #문자열을 날짜 타입으로 변환

datetime.datetime(2011, 1, 3, 0, 0)

In [26]:
sss = str(stamp)

In [27]:
sss

'2011-01-03 00:00:00'

In [34]:
datetime.strptime(sss,'%Y-%m-%d %H:%M:%S') # 포맷을 맞춰야해서 귀찮음 %H:%M:%S 생략시 오류 발생

datetime.datetime(2011, 1, 3, 0, 0)

In [36]:
datestrs = ['7/6/2011','8/6/2011']

In [37]:
datestrs

['7/6/2011', '8/6/2011']

In [39]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs] # 리스트표기식을 이용해 날짜 타입으로 변환

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [40]:
from dateutil.parser import parse

In [41]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [46]:
parse('Jan, 1, 1997 10:45 PM')

datetime.datetime(1997, 1, 1, 22, 45)

In [47]:
parse('10, 1, 1997 10:45 PM')

datetime.datetime(1997, 10, 1, 22, 45)

In [50]:
parse('3, Jan, 1997 10:45 PM')

datetime.datetime(1997, 1, 3, 22, 45)

In [49]:
parse('1, 10, 1997 10:45 PM')  # 생각보다 잘되어있네... 기본적으로  월->일 순서인듯

datetime.datetime(1997, 1, 10, 22, 45)

In [51]:
parse('6/12/2011', dayfirst=True) # 옵션으로 일이 앞으로 오도록 설정 가능

datetime.datetime(2011, 12, 6, 0, 0)

In [52]:
parse('6/12/2011')

datetime.datetime(2011, 6, 12, 0, 0)

In [54]:
datestrs = ['2011-07-06 12:00:00', '2011/08/06 00:00:00']

In [58]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [63]:
idx = pd.to_datetime(datestrs +[None])

In [64]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [65]:
idx[2]

NaT

In [66]:
pd.isnull(idx)

array([False, False,  True])

11.2 시계열 기초

In [68]:
from datetime import datetime

In [69]:
dates = [datetime(2011,1,2), datetime(2011,1,5),
        datetime(2011,1,7), datetime(2011,1,8),
        datetime(2011,1,10), datetime(2011,1,12)]

In [70]:
dates

[datetime.datetime(2011, 1, 2, 0, 0),
 datetime.datetime(2011, 1, 5, 0, 0),
 datetime.datetime(2011, 1, 7, 0, 0),
 datetime.datetime(2011, 1, 8, 0, 0),
 datetime.datetime(2011, 1, 10, 0, 0),
 datetime.datetime(2011, 1, 12, 0, 0)]

In [72]:
ts = pd.Series(np.random.randn(6), index=dates)

In [ ]:
# 날짜 값이 인덱스로 들어감

In [73]:
ts

2011-01-02    1.144005
2011-01-05    0.481742
2011-01-07   -1.632232
2011-01-08    0.055345
2011-01-10   -0.042084
2011-01-12    0.201997
dtype: float64

In [74]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [78]:
ts[::2] # 두번쨰 항목 선택(간격)

2011-01-02    1.144005
2011-01-07   -1.632232
2011-01-10   -0.042084
dtype: float64

In [79]:
ts

2011-01-02    1.144005
2011-01-05    0.481742
2011-01-07   -1.632232
2011-01-08    0.055345
2011-01-10   -0.042084
2011-01-12    0.201997
dtype: float64

In [75]:
ts+ts[::2] # 2,7,10일은 값을 더함/ 나머지는  null값이라 nan

2011-01-02    2.288010
2011-01-05         NaN
2011-01-07   -3.264463
2011-01-08         NaN
2011-01-10   -0.084168
2011-01-12         NaN
dtype: float64

In [77]:
ts.index.dtype #  대충 나노초의 정밀도를 가지는 타임스태프라는 의미

dtype('<M8[ns]')

In [80]:
stamp=ts.index[0]

In [81]:
stamp

Timestamp('2011-01-02 00:00:00')

11.2.1 색인, 선택, 부분 선택

In [82]:
stamp =ts.index[2]

In [85]:
stamp

Timestamp('2011-01-07 00:00:00')

In [84]:
ts[stamp]

-1.6322317204702275

In [86]:
ts['1/10/2011']

-0.04208398950248876

In [88]:
ts['20110110'] # 이렇게도 되네

-0.04208398950248876

In [ ]:
# pd.date_range 날짜 생성 (시작일, 종료일) 또는 (시작일, 기간) 여기서는 periods를 1000으로 설정해서 1000개

In [102]:
longer_ts = pd.Series(np.random.randn(1000),
                     index = pd.date_range('1/1/2000' , periods=1000))

In [103]:
longer_ts

2000-01-01    0.826464
2000-01-02    0.229179
2000-01-03    0.050874
2000-01-04    0.108918
2000-01-05    2.042912
                ...
2002-09-22   -0.183100
2002-09-23    1.393463
2002-09-24    0.220040
2002-09-25    1.614913
2002-09-26    0.847054
Freq: D, Length: 1000, dtype: float64

In [104]:
longer_ts.index[-1]- longer_ts.index[0]

Timedelta('999 days 00:00:00')

In [157]:
longer_ts.count()

1000

In [105]:
longer_ts['2001'] # 인덱스중 일부만 선택 가능

2001-01-01   -0.600457
2001-01-02    0.496349
2001-01-03    0.291391
2001-01-04    0.188113
2001-01-05   -2.322977
                ...
2001-12-27   -1.575150
2001-12-28   -1.184043
2001-12-29    0.661229
2001-12-30   -0.436695
2001-12-31   -0.616012
Freq: D, Length: 365, dtype: float64

In [106]:
longer_ts['2001-05']

2001-05-01   -0.050847
2001-05-02   -0.687652
2001-05-03    0.234234
2001-05-04    0.167142
2001-05-05    0.456779
2001-05-06    0.118056
2001-05-07    0.302171
2001-05-08    0.496719
2001-05-09   -0.167318
2001-05-10   -0.314628
2001-05-11    0.942128
2001-05-12   -2.219672
2001-05-13   -0.876940
2001-05-14    1.683501
2001-05-15   -0.248689
2001-05-16   -0.193326
2001-05-17    0.474208
2001-05-18   -0.101033
2001-05-19   -0.962635
2001-05-20   -0.516454
2001-05-21   -2.364319
2001-05-22    0.714020
2001-05-23   -1.257888
2001-05-24   -0.162698
2001-05-25    0.482437
2001-05-26    1.293579
2001-05-27    0.442351
2001-05-28   -0.984625
2001-05-29   -0.358419
2001-05-30   -0.645343
2001-05-31    2.968369
Freq: D, dtype: float64

In [109]:
ts

2011-01-02    1.144005
2011-01-05    0.481742
2011-01-07   -1.632232
2011-01-08    0.055345
2011-01-10   -0.042084
2011-01-12    0.201997
dtype: float64

In [110]:
ts[datetime(2011,1,7):] # 슬라이싱 가능

2011-01-07   -1.632232
2011-01-08    0.055345
2011-01-10   -0.042084
2011-01-12    0.201997
dtype: float64

In [111]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -1.632232
2011-01-08    0.055345
2011-01-10   -0.042084
dtype: float64

In [112]:
ts.truncate(after='1/9/2011') # 1/9/2011을 기준으로 두개의 날짜로 나눔()

2011-01-02    1.144005
2011-01-05    0.481742
2011-01-07   -1.632232
2011-01-08    0.055345
dtype: float64

In [113]:
ts.truncate(before='1/9/2011')

2011-01-10   -0.042084
2011-01-12    0.201997
dtype: float64

In [114]:
dates = pd.date_range('1/1/2000', periods=100,freq='W-WED')

In [116]:
long_df = pd.DataFrame(np.random.randn(100,4),
                      index=dates,
                      columns=['Colorado', 'Texas','New York', "Ohio"])

In [117]:
long_df

            Colorado     Texas  New York      Ohio
2000-01-05 -2.064619 -0.887800  0.347124  0.551660
2000-01-12  2.997992  0.875334  1.138359  0.066885
2000-01-19  1.125923 -0.525933 -0.682126  0.049245
2000-01-26  1.414168 -0.001491 -0.044897  1.211881
2000-02-02 -0.978413 -0.291877  1.020504  1.376985
...              ...       ...       ...       ...
2001-10-31 -1.029520  2.084939  0.572149  0.032075
2001-11-07  0.433826  0.154257 -1.612220  0.368877
2001-11-14 -1.037289  0.260655 -1.007893 -0.568959
2001-11-21 -0.544350  0.542932 -1.686500  0.255993
2001-11-28  1.202325  0.246038  0.588576  0.278133

[100 rows x 4 columns]

In [118]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.293047 -0.397045  0.506921 -0.067270
2001-05-09 -1.582770 -1.462713 -1.075213  1.815070
2001-05-16  0.808789  0.424227  0.681210  1.014549
2001-05-23 -0.334720 -1.413462  1.180619 -0.106888
2001-05-30 -0.814568  1.667767 -0.221633 -0.453703

11.2.2 중복된 색인을 갖는 시계열

In [119]:
dates = pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000','1/2/2000','1/3/2000'])

In [120]:
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-02', '2000-01-02',
               '2000-01-03'],
              dtype='datetime64[ns]', freq=None)

In [121]:
dup_ts = pd.Series(np.arange(5), index=dates)

In [122]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [123]:
dup_ts.index.is_unique

False

In [124]:
dup_ts['1/3/2000']

4

In [125]:
dup_ts['1/2/2000'] # 인덱스 중복도 되네

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [127]:
grouped =dup_ts.groupby(level=0)

In [128]:
grouped

In [129]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [130]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

11.3 날짜 범위, 빈도, 이동

In [131]:
ts

2011-01-02    1.144005
2011-01-05    0.481742
2011-01-07   -1.632232
2011-01-08    0.055345
2011-01-10   -0.042084
2011-01-12    0.201997
dtype: float64

In [132]:
resampler =ts.resample('D')# 11.6 에서 다룬다함

In [133]:
resampler

11.3.1 날짜 범위 생성하기

In [135]:
index = pd.date_range('2012-04-01','2012-06-01')

In [136]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [138]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [139]:
pd.date_range(end='2012-06-01',periods=20) # 끝부터 설정도 가능

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [141]:
pd.date_range('2000-01-01','2000-12-01',freq='BM') # 간격 = BM 영업 마감일

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [142]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [143]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

11.3.2 빈도와 날짜 오프셋

In [149]:
from pandas.tseries.offsets import Hour, Minute

In [150]:
hour=Hour()

In [151]:
hour

In [152]:
four_hours = Hour(4)

In [153]:
four_hours

In [154]:
pd.date_range('2000-01-01','2000-01-03 23:59', freq='4h') # 4시간 간격

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [155]:
Hour(2) + Minute(30) # 분단위로 표기되네

In [156]:
pd.date_range('2000-01-01',periods=10, freq='1h30min') # 1:30 간격으로 10개

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [159]:
rng=pd.date_range('2012-01-01','2012-09-01', freq='WOM-3FRI') # 매월 3째주 금요일(Week Of Month - 3 Friday)

In [160]:
rng

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [161]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

11.3.3 데이터 시프트

In [162]:
ts = pd.Series(np.random.randn(4),
              index=pd.date_range('1/1/2000', periods = 4, freq ='M'))

In [163]:
ts

2000-01-31   -1.574796
2000-02-29    0.915409
2000-03-31   -0.748299
2000-04-30    0.387648
Freq: M, dtype: float64

In [165]:
ts.shift(2) # 값을 2개 민다

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -1.574796
2000-04-30    0.915409
Freq: M, dtype: float64

In [166]:
ts.shift(-2)# 값을 2개 당긴다

2000-01-31   -0.748299
2000-02-29    0.387648
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [167]:
ts.shift(2,freq='M') # 날짜를 밀었다

2000-03-31   -1.574796
2000-04-30    0.915409
2000-05-31   -0.748299
2000-06-30    0.387648
Freq: M, dtype: float64

In [168]:
ts.shift(3, freq='D')

2000-02-03   -1.574796
2000-03-03    0.915409
2000-04-03   -0.748299
2000-05-03    0.387648
dtype: float64

In [169]:
ts.shift(1,freq='90T') # 미는 간격을 90분으로

2000-01-31 01:30:00   -1.574796
2000-02-29 01:30:00    0.915409
2000-03-31 01:30:00   -0.748299
2000-04-30 01:30:00    0.387648
Freq: M, dtype: float64

In [171]:
from pandas.tseries.offsets import Day, MonthEnd

In [174]:
now = datetime(2011,11,17)

In [175]:
now

datetime.datetime(2011, 11, 17, 0, 0)

In [176]:
now+ 3 *Day()

Timestamp('2011-11-20 00:00:00')

In [177]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [178]:
now+MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [179]:
offset = MonthEnd()

In [180]:
offset.rollforward(now) # 이런 방식으로도 사용 가능

Timestamp('2011-11-30 00:00:00')

In [182]:
offset.rollback(now) # 이전 월말

Timestamp('2011-10-31 00:00:00')

In [183]:
# 4일 간격으로 20개 만들어라ㅏㅏㅏ
ts = pd.Series(np.random.randn(20),
              index=pd.date_range('1/15/2000', periods=20, freq='4d'))

In [184]:
ts

2000-01-15    0.200028
2000-01-19   -1.449507
2000-01-23    1.242189
2000-01-27   -0.599842
2000-01-31    0.127547
2000-02-04   -0.881282
2000-02-08   -1.304444
2000-02-12    1.255825
2000-02-16   -0.236993
2000-02-20   -0.459923
2000-02-24    0.177513
2000-02-28   -1.501543
2000-03-03    0.493682
2000-03-07   -0.829493
2000-03-11    1.673627
2000-03-15    0.953275
2000-03-19   -0.546965
2000-03-23    0.863595
2000-03-27    1.450174
2000-03-31   -0.453864
Freq: 4D, dtype: float64

In [186]:
ts.groupby(offset.rollforward)

In [187]:
ts.groupby(offset.rollforward).mean() #  월 평균

2000-01-31   -0.095917
2000-02-29   -0.421549
2000-03-31    0.450504
dtype: float64

In [188]:
ts.resample('M').mean()

2000-01-31   -0.095917
2000-02-29   -0.421549
2000-03-31    0.450504
Freq: M, dtype: float64

11.4 시간대 다루기

In [189]:
import pytz  # 전세계의 시간대 정보를 가짐

In [190]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [200]:
tz = pytz.timezone('America/New_York')

In [193]:
tz

11.4.1 시간대 지역화와 변환

In [204]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')

In [205]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [206]:
ts

2012-03-09 09:30:00   -0.718488
2012-03-10 09:30:00    0.054688
2012-03-11 09:30:00   -0.141052
2012-03-12 09:30:00   -1.336659
2012-03-13 09:30:00    1.360967
2012-03-14 09:30:00    0.489642
Freq: D, dtype: float64

In [207]:
print(ts.index.tz)

None

In [211]:
pd.date_range('3/9/2012 9:30', periods =10, freq='D', tz='UTC') # UTC = 협정세계시 , tz는 시간의 기준인듯?

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [212]:
ts

2012-03-09 09:30:00   -0.718488
2012-03-10 09:30:00    0.054688
2012-03-11 09:30:00   -0.141052
2012-03-12 09:30:00   -1.336659
2012-03-13 09:30:00    1.360967
2012-03-14 09:30:00    0.489642
Freq: D, dtype: float64

In [213]:
ts_utc=ts.tz_localize('UTC')

In [214]:
ts_utc

2012-03-09 09:30:00+00:00   -0.718488
2012-03-10 09:30:00+00:00    0.054688
2012-03-11 09:30:00+00:00   -0.141052
2012-03-12 09:30:00+00:00   -1.336659
2012-03-13 09:30:00+00:00    1.360967
2012-03-14 09:30:00+00:00    0.489642
Freq: D, dtype: float64

In [216]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [218]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00   -0.718488
2012-03-10 04:30:00-05:00    0.054688
2012-03-11 05:30:00-04:00   -0.141052
2012-03-12 05:30:00-04:00   -1.336659
2012-03-13 05:30:00-04:00    1.360967
2012-03-14 05:30:00-04:00    0.489642
Freq: D, dtype: float64

In [219]:
ts_eastern = ts.tz_localize('America/New_York')

In [220]:
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00   -0.718488
2012-03-10 14:30:00+00:00    0.054688
2012-03-11 13:30:00+00:00   -0.141052
2012-03-12 13:30:00+00:00   -1.336659
2012-03-13 13:30:00+00:00    1.360967
2012-03-14 13:30:00+00:00    0.489642
Freq: D, dtype: float64

In [221]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00   -0.718488
2012-03-10 15:30:00+01:00    0.054688
2012-03-11 14:30:00+01:00   -0.141052
2012-03-12 14:30:00+01:00   -1.336659
2012-03-13 14:30:00+01:00    1.360967
2012-03-14 14:30:00+01:00    0.489642
Freq: D, dtype: float64

In [223]:
ts_eastern.tz_convert('Asia/Seoul')

2012-03-09 23:30:00+09:00   -0.718488
2012-03-10 23:30:00+09:00    0.054688
2012-03-11 22:30:00+09:00   -0.141052
2012-03-12 22:30:00+09:00   -1.336659
2012-03-13 22:30:00+09:00    1.360967
2012-03-14 22:30:00+09:00    0.489642
Freq: D, dtype: float64

In [224]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

11.4.2 시간대를 고려해서 Timestamp 객체 다루기

In [226]:
stamp = pd.Timestamp('2011-03-12 04:00')

In [227]:
stamp_utc = stamp.tz_localize('utc')

In [229]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [230]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')

In [231]:
stamp_utc.value

1299902400000000000

In [232]:
stamp_utc.tz_convert('America/New_york').value

1299902400000000000

In [233]:
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')

In [234]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [235]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')

In [236]:
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [237]:
stamp+2*Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

11.4.3 다른 시간대간의 연산

In [238]:
rng=pd.date_range('3/7/2012 9:30', periods =10, freq='B')

In [239]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [240]:
ts

2012-03-07 09:30:00   -0.227945
2012-03-08 09:30:00    0.982552
2012-03-09 09:30:00    0.320710
2012-03-12 09:30:00    0.067077
2012-03-13 09:30:00    0.788898
2012-03-14 09:30:00   -0.539774
2012-03-15 09:30:00    1.106504
2012-03-16 09:30:00    1.258304
2012-03-19 09:30:00    1.099599
2012-03-20 09:30:00   -0.733743
Freq: B, dtype: float64

In [241]:
ts1 = ts[:7].tz_localize('Europe/London')

In [242]:
ts2 = ts1[2:].tz_convert('Europe/Moscow')

In [243]:
result = ts1 + ts2

In [244]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')