# BaekJoon 5800번 성적 통계
한상덕은 이번에 중덕 고등학교에 새로 부임한 교장 선생님이다. 
교장 선생님으로서 첫 번째 일은 각 반의 수학 시험 성적의 통계를 내는 일이다.

중덕 고등학교 각 반의 학생들의 수학 시험 성적이 주어졌을 때, 
최대 점수, 최소 점수, 점수 차이를 구하는 프로그램을 작성하시오.

#### 첫째 줄에 중덕 고등학교에 있는 반의 수 K (1 ≤ K ≤ 100)가 주어진다. 다음 K개 줄에는 각 반의 학생수 N (2 ≤ N ≤ 50)과 각 학생의 수학 성적이 주어진다. 시험 성적은 0보다 크거나 같고, 100보다 작거나 같은 정수이고, 공백으로 나누어져 있다.

In [220]:
k = int(input())

2

In [174]:
clas= []

In [221]:
for x in range(k):
    clas= []
    clas.append(input().split())
    clas[x] = [int(i) for i in clas[x]]

5 30 25 76 23 78
6 25 50 70 99 70 90

In [222]:
clas

[[23, 25, 30, 76, 78],
 [25, 50, 70, 70, 90, 99],
 ['5', '30', '25', '76', '23', '78'],
 ['6', '25', '50', '70', '99', '70', '90']]

In [176]:
for x in range(k):
    studentNum = clas[x].pop(0)   # 학생수 저장 및 리스트에서 삭제
    Max = max(clas[x]); Min = min(clas[x]); LargestGap = 0 # 최대값, 최소값 구하기, 점수차이 초기화
    clas[x].sort()  # 학생 성적 내림차순 정렬
    # 점수 차이 구하기
    for y in range(studentNum):
        if y != (studentNum - 1):  # 제일 마지막 성적 값이 아닐 시 실행
            gap = abs(clas[x][y]-clas[x][y+1]) # 제일 마지막 성적 값이 들어해올 시 y+1에서 인덱스 크기 에러 발생
            if LargestGap == 0 : LargestGap = gap
            elif LargestGap < gap:   # LargetGap의 값이 성적 차이 보다 작을 경우 gap 값 저장
                LargestGap = gap
      
    print('Class', x+1)
    print('Max', Max, end=', Min ')
    print(Min,end=', Largest gap ')
    print(LargestGap)

Class 1
Max 78, Min 23, Largest gap 46
Class 2
Max 99, Min 25, Largest gap 25

In [177]:
import pandas as pd

In [178]:
k = int(input())

2

In [179]:
clas = []; studentNum = []

In [180]:
for x in range(k):
    clas.append(input().split())
    clas[x] = [int(i) for i in clas[x]]
    studentNum.append(clas[x].pop(0))

5 30 25 76 23 78
6 25 50 70 99 70 90

In [203]:
for x in range(k):
    Class = pd.DataFrame([clas, studentNum], index =['성적리스트', '학생수'])

In [204]:
Class

                          0                         1
성적리스트  [30, 25, 76, 23, 78]  [25, 50, 70, 99, 70, 90]
학생수                       5                         6

In [212]:
Class[0]

성적리스트    [23, 25, 30, 76, 78]
학생수                         5
Name: 0, dtype: object

In [219]:
for x in range(k):
    Max = max(Class[x]['성적리스트']); Min = min(Class[x]['성적리스트'])
    LargestGap = 0 #  점수차이 초기화
    Class[x]['성적리스트'].sort()
    for y in range(Class[x]['학생수']):
        if y != (Class[x]['학생수'] - 1):  
            gap = abs(Class[x]['성적리스트'][y]- Class[x]['성적리스트'][y+1])
            if LargestGap == 0 : LargestGap = gap
            elif LargestGap < gap:  
                LargestGap = gap
        
    print('Class', x+1)
    print('Max', Max, end=', Min ')
    print(Min,end=', Largest gap ')
    print(LargestGap)

Class 1
Max 78, Min 23, Largest gap 46
Class 2
Max 99, Min 25, Largest gap 25